div(class='js-review-icon-single review-icon-single')
	img(src='../images/parking_icon.svg' alt='handicap parking icon' class='review-icon')
	div(class='js-review-percentage')
	p= parking_pct
div(class='js-review-icon-single review-icon-single')
	img(src='../images/enter_exit_icon.svg' alt='enter and exit icon')
	div(class='js-review-percentage')
	p= access_pct
div(class='js-review-icon-single review-icon-single')
	img(src='../images/customer_service_icon.svg' alt='customer service icon' class='review-icon')
	div(class='js-review-percentage')
	p= service_pct
div(class='js-review-icon-single review-icon-single')
	img(src='../images/interior_navigation.svg' alt='interior navigation icon' class='review-icon')
	div(class='js-review-percentage')
	p= int_nav_pct
div(class='js-review-icon-single review-icon-single')
	img(src='../images/bathroom_icon.svg' alt='handicap bathroom icon' class='review-icon')
	div(class='js-review-percentage')
	p= restroom_pct
div(class='js-review-icon-single review-icon-single')
	img(src='../images/service_dog_icon.svg' alt='service dog paw icon' class='review-icon')
	div(class='js-review-percentage')
	p= serv_dog_pct